
@{
    ViewBag.Title = "NuevoPrestamo";
}
<br />
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            @ViewBag.Title
        </div>
        <div class="panel-body">
            <form id="formNuevoPrestamo">
                <div class="form-group">
                    <label for="nroDocUsuario">Usuario</label>
                    <select class="form-control validacion-combo" id="nroDocUsuario">
                        <option value="0">Seleccionar</option>
                        <option value="34343434">Sebastián Molina</option>
                        <option value="33221100">Julián Barki</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="isbnLibro">Libro</label>
                    <select class="form-control validacion-combo" id="isbnLibro">
                        <option value="0">Seleccionar</option>
                        <option value="qwerqwerqwer">El gato negro - Edgar Allan Poe</option>
                        <option value="123412341234">1984 - George Orwell</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ejemplares">Ejemplares</label>
                    <input type="number" class="form-control validacion-numerica" id="ejemplares" placeholder="1">
                </div>
                <div class="form-group">
                    <label for="fecha Prestamo">Fecha Prestamo</label>
                    <input type="text" class="form-control validacion-fecha" id="fechaPrestamo" placeholder="dd/mm/yyyy">
                </div>
                <div class="form-group"><button type="submit" class="btn btn-primary" id="btnNuevoPrestamo">Guardar</button></div>
            </form>
        </div>
    </div>
</div>