
@{
    ViewBag.Title = "NuevoPrestamo";
}
<br />
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            @ViewBag.Title
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="titulo">Titulo</label>
                    <input type="text" class="form-control validacion-vacio" id="titulo" placeholder="Libro">
                </div>
                <div class="form-group">
                    <label for="autor">Autor</label>
                    <input type="text" class="form-control validacion-texto" id="autor" placeholder="Perez">
                </div>
                <div class="form-group">
                    <label for="isbn">Tipo Documento</label>
                    <select class="form-control validacion-combo" id="tipoDni">
                        <option value="0">Seleccionar</option>
                        <option value="dni">DNI</option>
                        <option value="pas">Pasaporte</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="dni">Número documento</label>
                    <input type="text" class="form-control validacion-numerica" id="dni" placeholder="12341234">
                </div>

                <div class="form-group">
                    <label for="ejemplares">Ejemplares</label>
                    <input type="text" class="form-control validacion-numerica" id="ejemplares" placeholder="8">
                </div>

                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control validacion-texto" id="nombre" placeholder="Juan">
                </div>
                <div class="form-group">
                    <label for="nombre">Apellido</label>
                    <input type="text" class="form-control validacion-texto" id="nombre" placeholder="Juan">
                </div>
                <div class="form-group">
                    <label for="nombre">FechaPrestamos</label>
                    <input type="text" class="form-control validacion-fecha" id="FechaPrestamos" placeholder="10/12/2018">
                </div>
                <div class="form-group">
                    <label for="nombre">FechaPrestamos</label>
                    <input type="text" class="form-control validacion-fecha" id="FechaPrestamos" placeholder="10/12/2018">
                </div>
                <div class="form-group"><button type="submit" class="btn btn-primary">Agregar</button></div>
            </form>
        </div>
    </div>
</div>