
@{
    ViewBag.Title = "PrestamoPorDNI";
}


<br />
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            @ViewBag.Title
        </div>
        <div class="panel-body">
            <form id="">
                <div class="form-group">
                    <label for="nombre">DNI</label>
                    <input type="text" class="form-control validacion-numerica" id="dni" placeholder="12345678">
                </div>
                <div class="form-group"><button type="submit" class="btn btn-primary">Buscar</button></div>
            </form>
        </div>
    </div>
</div>