<br />
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
                @ViewBag.Title
        </div>
        <div class="panel-body">
            <form id="">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control validacion-texto" id="nombre" placeholder="Juan">
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control validacion-texto" id="apellido" placeholder="Perez">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control validacion-email" id="email" placeholder="ejemplo@mimail.com">
                </div>
                <div class="form-group">
                    <label for="tipoDni">Tipo documento</label>
                    <select class="form-control validacion-combo" id="tipoDni">
                        <option value="0">Seleccionar</option>
                        <option value="dni">DNI</option>
                        <option value="pas">Pasaporte</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="dni">Número documento</label>
                    <input type="text" class="form-control validacion-numerica" id="dni" placeholder="12341234">
                </div>
            </form>
        </div>
    </div>
</div>