
@{
    ViewBag.Title = "Buscar Titulo";
}

<br />
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            @ViewBag.Title
        </div>
        <div class="panel-body">
            <form class="formBuscadorPorTitulo">
                <div class="form-group">
                    <label for="nombre">Titulo</label>
                    <input type="text" class="form-control validacion-texto" id="titulo" placeholder="El gato negro">
                </div>
                <div class="form-group"><button type="submit" class="btn btn-primary btnBuscadorPorTitulo">Buscar</button></div>
            </form>
        </div>
    </div>
</div>