
@{
    ViewBag.Title = "NuevoLibro";
}
<br />
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            @ViewBag.Title
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="titulo">Titulo</label>
                    <input type="text" class="form-control validacion-vacio" id="titulo" placeholder="Libro">
                </div>
                <div class="form-group">
                    <label for="autor">Autor</label>
                    <input type="text" class="form-control validacion-texto" id="autor" placeholder="Perez">
                </div>
                <div class="form-group">
                    <label for="isbn">ISBN</label>
                    <input type="text" class="form-control validacion-vacio" id="isbn" placeholder="AN215">
                </div>
                <div class="form-group">
                    <label for="genero">Genero</label>
                    <input type="text" class="form-control validacion-texto" id="genero" placeholder="Terror">
                </div>
                <div class="form-group">
                    <label for="ejemplares">Ejemplares</label>
                    <input type="text" class="form-control validacion-numerica" id="ejemplares" placeholder="8">
                </div>
                <div class="form-group"><button type="submit" class="btn btn-primary">Agregar</button></div>
            </form>
        </div>
    </div>
</div>