
@{
    ViewBag.Title = "Nuevo Libro";
}
<br />
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            @ViewBag.Title
        </div>
        <div class="panel-body">
            <form id="formNuevoLibro" method="post" action="NuevoLibro/">
                <div class="form-group">
                    <label for="titulo">Titulo</label>
                    <input type="text" class="form-control validacion-vacio" id="titulo" placeholder="Libro" name="titulo">
                </div>
                <div class="form-group">
                    <label for="autor">Autor</label>
                    <input type="text" class="form-control validacion-texto" id="autor" placeholder="Perez" name="autor">
                </div>
                <div class="form-group">
                    <label for="isbn">ISBN</label>
                    <input type="text" class="form-control validacion-vacio" id="isbn" placeholder="978-3-16-148410-0" name="isbn">
                </div>
                <div class="form-group">
                    <label for="genero">Genero</label>
                    <input type="text" class="form-control validacion-texto" id="genero" placeholder="Terror" name="genero">
                </div>
                <div class="form-group">
                    <label for="ejemplares">Ejemplares</label>
                    <input type="number" class="form-control validacion-numerica" id="ejemplares" placeholder="8" name="cantEjemplares">
                </div>
                <div class="form-group"><button type="submit" class="btn btn-primary btnNuevoLibro">Agregar</button></div>
            </form>
        </div>
    </div>
</div>